* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 18px;
}

body {
    margin: 0;   
    
}

h1 {
    font-size: 300%;
    margin: 0;
}

h2 {
    font-size: 200%;
    margin: 0;
    text-align: center;
}

.welcome {
    background-image: url(/img/welcome.jpg);
    height: 15rem;
    padding: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plot {
    padding: 1rem;
    background-color: rgb(168, 168, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.paragraph {
    display: flex;
    // padding: 1rem;
    width: 50rem;
   
}

.poster-star-wars {
    padding: .5rem;
}

.paragraph-star-wars {
    padding: .5rem;
}

.poster {
    height: 18rem;
}

.characters {
    padding: 1rem;
    background-image: url(/img/rey-standing.jpg);
    background-size: cover;
    // background-repeat: no-repeat;
    background-position: center;
    // height: 18rem;

    // display: flex;
    // flex-direction: row;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;

    height: 23rem;
}

.circleimages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 50rem;
}
.smallcircle {
    width: 5rem;
    border-radius: 50%;
}

.mediumcircle {
    width: 6.5rem;
    border-radius: 50%;
}

.medium2 {
    width: 8.5rem;
    border-radius: 50%;
}

.large {
    width: 9.5rem;
    border-radius: 50%;
}

.cast {
    .image {
       
        position: relative;

        img {
            display: block;
        }
        
        div {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            text-align: center;
            padding: 0.5rem;
            width: 100%;
        }

    }
}