* {
    box-sizing: border-box
}

body {
    background-image: url(elephants-1900332_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    font-family: 'Lobster', cursive;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.container {
    border: 2px solid rgba(136, 43, 66,);
    background-color: rgba(136, 43, 66, 0.6);
    padding: 1rem;
    display: inline-block;
}

.body {
    width: 50rem;
     position: relative;
     float: center;
     padding-left: 30rem;
     padding-top: 3rem;
}

.elephant {
    width: 35rem;
   
    padding-left: 20rem;
}