* {
    box-sizing: border-box;
}
    
html {
    font-family: sans-serif;
    font-size: 16px;
}

body {
    margin: 0;

    background-color: lightgrey;
    
}

.container {
    width: 720px;
    margin: 0 auto;
    min-height: 100vh;
}

.card {
    margin: 1rem;
    padding: 3rem;

    background-color: white;
    
    line-height: 140%;
}

.card__head {
    font-weight: bold;
    font-size: 135%;
    margin-bottom: 1rem;

}

.card__body {
    color: #444;
}

.card__footer {
    margin-top: 1rem;
    border-top: 1px solid lightgrey;
    padding-top: 1rem;
    text-align: right;
}

button {
    border: none;
    outline: none;
    background: lightblue;
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    margin: 0 0.5rem;

}

button:hover {
    background-color: blue;
}