body {
    margin: 0;
    background-color: gray;
    color:white;
    background-image: url("images/Canva\ -\ Delicious\ Homemade\ Pizza.jpg");
    padding:0rem;
    
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  